# Data Science Tools and Ecosystem

In this notebook, I will summarise Data Science Tools and Ecosystem.

**Objectives:**

* List some of the popular languages that Data Scientist use
* List some of the commonly used libraries
* Lists some of the Data Science Tools
* Show examples of how arithmetic expressions can be coded in Python

## Author

Mikel Tan

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. JavaScript
6. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas
4. ggplot2
5. ggally

| Data Science Tools | 
| :---- | 
| Apache Spark |
| Weka |
| TensorFlow |
| PyTorch |

### Below are a few examples of evaluating arithmetic expressions in Python:

x = 10
</br>
y = 20
</br>
z = x + y
</br>
print(z)
</br>


x = 2
</br>
y = 3
</br>
z = x * y
</br>
print(z)
</br>

In [3]:
 #This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [26]:
# This will convert 200 minutes to hours by diving by 60
# I have rounded the hours off to 2 decimal places

mins = 200

hours = mins/60

print(str(round(hours,2)) + " hours")

3.33 hours